body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgb(184, 129, 250), rgb(233, 222, 245));
    background-size: cover;
    text-align: center;
    align-items: center;
    display: flex; /* Agregar display flex para centrar elementos verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    height: 100vh; /* Asegurarse de que la página ocupe toda la altura de la ventana */
}

.calculadora {
    background-color: #15173c;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 28px;
    margin-bottom: 10px;
    border: none;
    background-color: #b3b2b2;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #67829f;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(188, 169, 220), rgb(198, 178, 199));
    background-size: cover;
}

.hidden {
    display: yes;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
